
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="nbtn nbtn-secondary" style="clear:both; padding: 8px 24px; width: 100%;"> <img src="/assets/g-logo.png" width="24" style="margin-right: 8px;" /> Sign in with Google </a>
<!--     <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, provider), class: "nbtn nbtn-secondary", style: "background: url(/assets/g-logo.png) no-repeat 10px; background-size: 10%;" %> -->
  <% end %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p style="clear:both;"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p style="clear:both;"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /></p>
<% end %>

