<div class="title">
  <h2>Job Openings</h2>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
</div>
<br>
<div class="dashboard-container">
  <div class="top-container">
    <%= render 'index', jobs: @jobs %>
  </div>
</div>
