<div class="dashboard-title">
  <h3>Dashboard</h3>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
</div>
<hr>
<div class="dashboard-container">
  <div class="top-container">
    <p><strong>New applications</strong></p>
    <%= render 'candidates/index', jobs: @candidates %>
  </div>
  <hr>
  <div class="bottom-container">
    <div class="bottom-left-container">
      <p><strong>Inbound applications</strong></p>
    </div>
    <div>
      <p><strong>Open job positions (<%= @jobs.count %>)</strong></p>
      <div class="bottom-right-container">
        <%= render 'jobs/index', jobs: @jobs %>
      </div>
    </div>
  </div>
</div>
