<div class="title"><h1>Dashboard</h1> <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %></div>

<div>
  <p>Open positions (<%= @jobs.count %>)</p>
  <%= render 'jobs/index', jobs: @jobs %>
</div>

