<div class="title">
  <h1>Dashboard</h1>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
</div>
<div style="margin: 10px; overflow-y: auto">
  <p><strong>New in</strong></p>
  <%= render 'candidates/index', jobs: @candidates %>
</div>
<div style="display: flex; justify-content: space-around; margin-top: 20px; margin-left: 10px">
  <div style="height: 50%; width: 50%; overflow-y: auto;">
    <p><strong>Inbound applications</strong></p>
  </div>
  <div>
    <p><strong>Open job positions (<%= @jobs.count %>)</strong></p>
    <div style="height: 100px; overflow: auto">
      <%= render 'jobs/index', jobs: @jobs %>
    </div>

  </div>
</div>

