<div class="title">
  <h1>Dashboard</h1>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nbtn nbtn-secondary" %>
</div>
<div>
  <p>this is the list of last applications</p>
</div>
<div class="container">
  <div>
    this a graph container
  </div>
  <div>
    <p>Open positions (<%= @jobs.count %>)</p>
    <%= render 'jobs/index', jobs: @jobs %>
  </div>
</div>

