<div>
  <h1>Hi, <%= current_user.first_name %>! Nice to see you 😎</h1>
  <h2>Change Picture</h2>
  <div class="text-center" style="height: 200; width: 200; margin: 0 auto;">
    <% if current_user.photo.filename %>
      <%= cl_image_tag current_user.photo, height: 200, width: 200, crop: :fill %>
    <% else %>
      <p>No image yet</p>
    <% end %>
  </div>
  <%= render 'upload_photo', user: current_user %>
</div>
