              <p class="bs-component">
              <button type="button" class="nbtn nbtn-primary">Primary</button>
              <button type="button" disabled class="nbtn nbtn-primary">disable</button>
              <button type="button" class="nbtn nbtn-secondary">Secondary</button>
              <button type="button" disabled class="nbtn nbtn-secondary">Secondary</button>
              <button class="nbtn nbtn-tertiary">Tertiary</button>
            </p>
            <p><span class="app-status app-status-pro">proceeding </span> <span class="app-status app-status-rej">rejected </span> <span class="app-status app-status-con">consider </span>


            </p>
            <p><span class="job-status job-status-scr">Screening </span> <span class="job-status job-status-sel">Selected </span> <span class="job-status job-status-unf">Unfilled </span></p>
            <p></p>
            <p><div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary">Primary</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
              </div>
                <div class="nbtn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="nbtn nbtn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hiring Manager </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>

                <div class="nbtn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="nbtn nbtn-grey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Yellow button </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>

                <div class="nbtn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="nbtn nbtn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grey Button </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
            </p>
            <br>
            <br>
            <p>
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-danger">Danger</button>
              <button type="button" class="btn btn-link">Link</button>
            <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button></p>
<h1>Homepage</h1>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
