<div class="filter-victor">
  <strong id="variable"><%= field[:variable] %></strong> <span id="comparator"><%= field[:comparator] %></span> <strong id="value"><%= field[:value] %></strong>
  <%= link_to job_remove_filter_path(job, field), method: :get, remote: true do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>
