<div class="filter" data-filter-id="1">
  <p><strong>Skills</strong> contains <strong>Ruby</strong></p>
<%= link_to root_path, method: :patch, remote: true do %>
  <i class="fas fa-times"></i>
<% end %>
</div>
