.dashboard-title {
  display: flex;
  justify-content: space-between;
}

.dashboard-title h1 {
  font-size: 18px;
}

.top-container{
  height: 50%;
  margin: 20px;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  height: 50%;
  margin: 20px;
}

.bottom-left-container{
  width: 40%;
}

.bottom-right-container {
  width: 50%;
}

.table-container {
  height: 220px;
  overflow-y: auto;
}

p {
  margin-bottom: 5px;
}

.table-container.jobs-index {
  height: 300px;
}
