.filter-container {
  padding: 10px 12px 8px 12px;
  border: 1px solid #EBEFF2;
  background-color: #E8ECEE;
  border-radius: 4px;

  .nbtn-primary {
    width: 150px;
    height: 40px;
  }


.form-victor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-victor div {
  margin: 0px 5px;
}

.filter-container .text-search, .filter-container .filter-select {
  border-radius: 2px !important;
  height: 39px !important;
}

  .text-search {
    display: flex;
    margin-bottom: 10px;
  }

  .text-search, .filter-select {
    :not(.nbtn-primary) {
      flex-grow: 1;
    }
  }
  .filter {
    display: flex;
    justify-content: space-between;

    a {
      display: inline;
      flex-shrink: 1;
    }
  }
}

.form-group.hidden.filter_hidden_index {
  display: none;
}
