.body {
  background-color: #F8F9FA !important;
}
h1, h2 {
  margin-bottom: 1.5em;
}

a:hover {
  text-decoration: none;
}

.nperson {
  margin: 2.7em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.company {
  font-weight: 500;
  font-size: 12px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #90A0B7;
  margin-bottom: -5px;
}

.name {
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #192A3E;
}

.avatar-large {
  border: 3px solid #109CF1;
}

.user-data {
  padding-left: 10px;
  list-style-type: none;
  margin:2px 0px;
}





.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-dash {
  display:flex;
  justify-content: flex-end;
}
.home-background {
  clear:both;
  padding: 48px 86px;
  display: flex;
  justify-content: space-between;
  background-image: asset-url('grey-bg.svg');
  background-position: 50% calc(100% + 1px);
  height: 210px;
  padding: 0 86px;
}

.google-img {
  width: 24px;
  margin-right: 8px;
}
